@mixin font-face($font-family, $font-file, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-file}.otf');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Hagrid',
        'fonts/HagridText-Regular',
        normal,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-Extrabold',
        800,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-ExtraboldItalic',
        800,
        italic);
@include font-face('Hagrid',
        'fonts/Hagrid-Heavy',
        900,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-HeavyItalic',
        900,
        italic);
@include font-face('Hagrid',
        'fonts/Hagrid-Italic',
        normal,
        italic);
@include font-face('Hagrid',
        'fonts/Hagrid-Light',
        300,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-LightItalic',
        300,
        italic);
@include font-face('Hagrid',
        'fonts/Hagrid-Medium',
        500,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-MediumItalic',
        500,
        italic);
@include font-face('Hagrid',
        'fonts/Hagrid-Regular',
        normal,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-Thin',
        100,
        normal);
@include font-face('Hagrid',
        'fonts/Hagrid-ThinItalic',
        100,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Bold',
        bold,
        normal);
@include font-face('Hagrid',
        'fonts/HagridText-BoldItalic',
        bold,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Extrabold',
        800,
        normal);
@include font-face('Hagrid',
        'fonts/HagridText-ExtraboldItalic',
        800,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Heavy',
        900,
        normal);
@include font-face('Hagrid',
        'fonts/HagridText-HeavyItalic',
        900,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Italic',
        normal,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Light',
        300,
        normal);
@include font-face('Hagrid',
        'fonts/HagridText-LightItalic',
        300,
        italic);
@include font-face('Hagrid',
        'fonts/HagridText-Medium',
        500,
        normal);
@include font-face('Hagrid',
        'fonts/HagridText-MediumItalic',
        500,
        italic);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 18px 0;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.10);
  background: #FFF;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .bar__icon {
      position: relative;

      .cart__before {
        position: absolute;
        width: 12px;
        height: 12px;
        background: #00AB6D;
        color: #FFF;
        border-radius: 50%;
        left: 60%;
        font-family: Roboto, serif;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }

    .bar__text {
      color: #E5EEE8;
      font-family: Roboto;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .bar__text-green {
      color: #00AB6D;
    }
  }
}

.container {
  padding: 0 20px 40px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  min-height: calc(100vh - 80px);
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 5px;

  li {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #00AB6D;
  }
}

.disabled {
  color: #ccc;
  cursor: not-allowed;
}


.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    color: #202020;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.27px;
  }
}

.footer {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__copyright {
    color: #202020;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.27px;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Roboto, serif;

  &__null {
    width: 100%;
    background: url("./images/Block_expectation_.png");
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 450px;
    gap: 8px;


    &-title {
      font-family: 'Hagrid', serif;
      color: #FFF;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: 105%; /* 37.8px */
    }

    &-text {
      color: #FFF;
      font-family: Roboto, serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 20px;
    }

    &--btn {
      height: 49px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background: #FFF;
      color: #000;
      font-family: Roboto, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 105%; /* 16.8px */

    }
  }

  &__n {
    display: flex;
    height: calc(100vh - 170px);
    align-items: center;
    justify-content: center;

  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #00AB6D;
    height: 63px;
    color: #FFF;
    text-align: center;
    font-family: Roboto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
  }

  &__subtitle {
    color: #202020;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 16px;

    &.mt22 {
      margin-top: 22px;
    }
  }

  &__title {
    margin-top: 48px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }

  &__h2 {
    color: #202020;
    font-family: Hagrid, serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
  }

  &__q {
    color: #000;
    font-family: Roboto, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%;
  }

  &__item {
    width: 100%;
    border-radius: 15px;
    border: 1px solid #E5EEE8;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
    padding: 16px 20px;
    display: flex;
    position: relative;
    min-height: 184px;
    justify-content: space-between;
    gap: 8px;
  }

  &__content {
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: space-between;
    width: 277px;
  }

  &__desc {
    color: #202020;
    font-family: Roboto, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: .6;
  }

  &__name {
    color: #202020;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  &__price {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  &__type {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    display: flex;
    padding: 8px 12px;
    max-width: 235px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #00AB6D;
  }
}

.link__cart {
  width: calc(100% - 40px);
  height: 62px;
  border-radius: 15px;
  background: #00AB6D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -80px;
}

.link__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link__data {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.delivery {
  &__item {
    position: relative;

    label {
      position: absolute;
      z-index: 3;
      top: 6px;
      left: 6px;

      img {
        width: 52px;
        height: 52px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
      border-radius: 25px;
      border: 1px solid #545454;
      padding: 0 20px 0 70px;
      position: relative;
      width: 100%;
      height: 64px;
      display: flex;

      &,
      &::placeholder {
        color: #000;
        font-family: Roboto, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
      }

      &::placeholder {
        opacity: 0.3;
      }
    }
  }

  &-profile {
    padding: 20px;

    &--item {
      background: #EDF4EF;
      border-radius: 25px;
      font-size: 18px;
      width: 100%;
      padding: 24px 20px;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      gap: 10px;

      & > div:last-child {
        opacity: .5;
      }
    }

    &__new {
      border: 2px dotted #00AB6D;
      background: transparent;
    }
  }
}

.dway {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 15px;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      color: var(--logo-black, #060606);
      font-family: Roboto, serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__checkbox {
    border-radius: 5px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background: #F1F0EC;

    &-item {
      background: #00AB6D;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }

  label {
    border: 1px solid #00AB6D;
    background: #FFF;
    min-width: calc(50% - 10px);
    border-radius: 10px;
    position: relative;
    height: 101px;
    padding: 16px;

    input {
      display: none;
    }

    &:hover {
      cursor: pointer;
    }

    input:checked ~ .dway__checkbox .dway__checkbox-item {
      display: flex;
    }
  }
}

.total {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .total__sub {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;

    .total__sub-item {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .total__main {
    display: flex;
    justify-content: space-between;

    .total__main-item {
      color: #000;
      font-family: Roboto, serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.verification-code-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.verification-code-input input {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
}

.verification-code-input input.error {
  border-color: red;
}

.sheet-container-class {
  max-height: 500px;
}

.profile {
  &-products {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-product {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 16px;
    position: relative;

    &::before {
      content: "•";
      position: absolute;
      margin-left: -20px;
      margin-top: 4px;
      font-size: 30px;
      color: #202020
    }

    &__title {
      color: #202020;
      font-size: 18px;
      font-family: Roboto, serif;
      font-weight: 400;
      line-height: 19.80px;

      span {
        color: #989898;
      }
    }

    &__type {
      text-align: center;
      color: white;
      font-size: 12px;
      font-family: Roboto, serif;
      font-weight: 400;
      line-height: 13.20px;
      padding: 8px 12px;
      background: #00AB6D;
      border-radius: 10px;
    }
  }


  &__top {
    background: #EDF4EF;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    margin-top: 48px;
  }

  &-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
    }

    &__title {
      color: #202020;
      font-size: 16px;
      font-family: Roboto, serif;
      font-weight: 300;
    }

    &__btn {
      width: 142px;
      height: 40px;
      background: #00AB6D;
      border-radius: 90.91px;
      display: flex;
      align-items: center;
      justify-content: center;

      color: white;
      font-size: 18px;
      font-family: Roboto, serif;
      font-weight: 400;
      line-height: 19.80px;
    }

    &__text {
      color: #202020;
      font-size: 28px;
      font-family: Roboto, serif;
    }
  }

  &__number {
    color: #202020;
    font-size: 28px;
    text-align: center;
    @media screen and (max-width: 360px) {
      font-size: 24px;
    }
    font-family: Hagrid, serif;
    font-weight: 400;
    word-wrap: break-word;

    p {
      color: #202020;
      font-size: 18px;
      font-family: Roboto, serif;
      font-weight: 400;
      word-wrap: break-word;
      margin-top: 4px;
    }
  }

  &__title {
    color: black;
    font-size: 32px;
    font-family: Hagrid, serif;
    font-weight: 400;
    margin-top: 45px;
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }

  &__order {
    padding: 24px;
    background: #EDF4EF;
    transition: .5s;
    border-radius: 15px;
    max-height: 112px;
    cursor: pointer;

    &.expanded {
      background: #dbf1e2;
      max-height: 500px;

    }

    &-block {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 24px;
      margin-top: 10px;
    }


    &-item {
      font-family: Roboto, serif;
    }

    &-title {
      color: #202020;
      font-size: 16px;
      font-weight: 200;
    }

    &-content {
      color: #202020;
      font-size: 18px;
      font-weight: 600;
      line-height: 19.80px;
    }

    &-status {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &--status {
      p {
        color: #202020;
        font-size: 22px;
        font-family: Hagrid, serif;
        font-weight: 400;
        line-height: 24.20px;
        text-transform: capitalize;
      }

      span {
        margin-top: 4px;
        color: #989898;
        font-size: 14px;
        font-family: Roboto, serif;
        font-weight: 400;
        line-height: 15.40px;
      }
    }
  }

  &__acc {
    position: absolute;
    top: 18px;
    font-size: 24px;
    left: 25px;
  }


}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.profile__acc, .img-pulse {
  animation: pulse 2s infinite;
  cursor: pointer;
}


.productInfo {
  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;

    &--back {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 64px;
      height: 64px;
      background: #EDF4EF;
      border-radius: 15px;
    }

    &--title {
      color: #202020;
      font-size: 24px;
      font-family: Hagrid, serif;
      font-weight: 400;
      line-height: 25.20px;
      word-break: break-word;
    }
  }

  &__desc {
    padding: 24px;
    background: #F3F3F3;
    border-radius: 15px;
    font-family: Roboto, serif;

    &.contraindications {
      background: rgba(255, 0, 0, 0.6);
      max-width: calc(100vw - 40px);
      margin: 0 auto;

      * {
        color: #FFF !important
      }

      .disease {
        font-size: 18px;
      }
    }


    &--title {
      color: black;
      font-size: 24px;
      font-weight: 400;
      line-height: 26.40px;
    }

    &--content {
      color: #6C6F6D;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.60px;
      margin-top: 4px;

      span {
        color: #00AB6D;
        font-size: 14px;
        font-weight: 400;
        text-decoration: underline;
        line-height: 16.80px;
        cursor: pointer;
      }
    }
  }

  .mt42 {
    margin-top: 42px;
  }

  .diseases {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 0;
    margin-top: 4px;

    .disease {
      color: #00AB6D;
      font-size: 16px;
      font-weight: 300;
      line-height: 16.80px;
    }


  }
}

.product__add {
  margin-top: 50px;
  width: calc(100% - 40px);
  position: fixed;
  bottom: 100px;

  .product__inCart {
    flex-direction: row;
    height: 60px;
    width: 200px;
    background: white;
    border: 1px solid #00AB6D;

    button {
      background: white !important;
    }
  }

  .product__buy {
    display: flex;
    height: 60px;
    width: 100%;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: Roboto, serif;
      font-weight: 400;
      color: white;

    }

    a {
      width: 100%;
      background: #00AB6D;
      border-radius: 15px;
      position: relative;
    }

    button {
      width: calc(100vw - 40px) !important;
      background: #00AB6D;
      border-radius: 15px;
      position: relative;

      &.cardAdd__btn::before {
        content: 'В корзину';
        color: white;
        font-size: 20px;
        font-family: Roboto, serif;
        font-weight: 400;
      }

      img {
        &.cardAdd {
          display: none;
        }
      }
    }
  }
}


.productDetails {
  width: 100%;
  display: flex;
  gap: 20px;
}
