.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-4);

    @media (min-width: 640px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 960px) {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-5);
    }
}
