:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #fff;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

.banner {
  width: 100%;
  height: 370px;
  background: url('../../images/Bg.jpg');
  background-size: cover;
  border-radius: 15px;
  margin-top: 42px;
  padding: 0 24px;
  box-shadow: -4px 8px 0px 0px rgba(0, 0, 0, 0.03);
  position: relative;

  &__natural {
    position: absolute;
    top: -28px;
    right: 24px;

    img {
      width: 90px;
      height: 90px;
    }
  }

  &__title {
    margin-bottom: 26px;
    padding-top: 78px;

    h1 {
      color: #FFF;
      font-family: Hagrid;
      font-size: 52px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      span {
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
      }
    }


  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__input {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    .banner__btn {
      content: url("../../images/input__before.svg");
      position: absolute;
      margin: 6px;
      display: flex;
      align-items: center;
      width: 44px;
      height: 44px;
    }

    input {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      padding: 0 0 0 58px;
      border: 1px solid #D9DCE3;

      &, &::placeholder {
        color: #545454;

        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }


    }
  }
}

.inmodal{
  max-width: 100vw;
  padding: 20px;

  & .banner__input .banner__btn{
    position: relative !important;
    right: auto !important;
  }

  & .banner__input input{
    padding: 20px !important;


  }
}

.react-modal-sheet-content{
  max-width: 100vw !important;
}

html, body {
  max-width: 100vw !important;
  overflow-x: hidden;
}

.about {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 24px;
  background: #EDF4EF;
  border-radius: 30px;
  border: 1px solid #E5EEE8;
  margin-top: 24px;
  align-items: center;
  overflow: hidden;

  .about__text {
    h2.about__title {
      color: #000;

      font-family: Hagrid;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%
    }

    p.about__desc {
      margin-top: 8px;
      color: #6C6F6D;

      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }
  }

  .about__photo {
    img {
      width: 151px;
      height: 222px;
    }
  }
}

.stories {
  height: 90px;
  border-radius: 30px;
  border: 2px solid #E5EEE8;
  background: #EDF4EF;
  display: flex;
  align-items: center;
  margin: 24px 0;
  gap: 14px;

  &__text {
    color: #202020;

    font-family: Hagrid;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .stories__images {
    position: relative;
    width: 91px;
    height: 56px;
    margin-left: 21px;

    .img__pros {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 56px;
      height: 56px;
      background: #EDF4EF;
      border-radius: 58px;

    }

    .img__first, .img__second {
      width: 58px;
      height: 58px;
      border-radius: 58px;
      background: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      position: absolute;
      background: linear-gradient(90deg, #00DE3E 0%, #19C5A6 33.85%, #0A6CC7 69.79%, #6B007C 100%);

      img {
        width: 54px;
        height: 54px;
        box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.10);
        border-radius: 54.588px;
        position: absolute;
        z-index: 3;
      }

    }

    .img__second {
      margin-left: 32px;
    }
  }
}


.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  border-bottom: 1px solid rgba(146, 146, 146, 0.20);
  gap: 14px;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__buy {
    width: 48px;
  }

  &__name {
    color: #202020;
    font-family: Hagrid;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    max-width: calc((100vw - 140px)) !important;
    line-height: normal;
    word-break: break-word;
  }

  &__desc {
    color: #202020;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__Modalprice {
    color: #000;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 110%;
  }

  &__bottom {
    display: flex;
    gap: 43px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 42px;


    button {
      width: 184px;
      height: 51px;
      border-radius: 10px;
      background: #00AB6D;
      color: #FFF;

      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }


  &__price {
    color: #00AB6D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }

  .product__buy {
    button {
      border-radius: 6px;
      background: #ECF3EE;

      overflow: hidden;

      img {
        width: 48px;
        height: 48px;
        border-radius: 6px;

      }
    }
  }

  &__typeBlock {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__typeTitle {
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
  }

  &__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__inCart {
    min-width: 48px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #F3F3F3;


    button, link {
      width: 100%;
      height: 100%;
      background: #F3F3F3 !important;
      border-radius: 10px;

      img.iconPlus, img.iconMinus {
        width: 12px;
        height: 12px;

      }


    }

    .iconDelete {
      position: absolute;
      width: 48px;
      height: 48px;
      bottom: 13px;
      border-radius: 10px;

      img {
        transform: rotate(45deg);

      }
    }
  }


}


.product__type, .product__type-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 17.6px */
  min-width: 150px;
  padding: 12px 32px;

  background: #00AB6D;
}


.product__type-active {
  color: #00AB6D;
  background: #EDF4EF;
}

.title__top {
  margin-top: 80px;

  color: #000;
  font-family: Hagrid;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  span {
    color: #00AB6D;
  }
}

.subtitle__top {
  margin-top: 4px;
  margin-bottom: 16px;
  color: #6C6F6D;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}

.dn {
  display: none;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;

  &__item {
    background: #EDF4EF;
    border-radius: 15px;
    padding: 24px;
  }

  &__image {
    img {
      width: 64px;
      height: 64px;
    }
  }

  &__question {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    color: #000;
    font-family: Hagrid;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 21.6px */
  }

  &__answer {
    color: #6C6F6D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    width: 100%;
    margin-top: 16px;
  }
}

.loading {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-empty {
  margin-top: 150px;
}

.search__title {
  font-size: 24px;
  margin-top: 20px;
  font-family: Roboto;

}

.catalog-page__subtitle {
  color: #202020;
  font-family: Hagrid;
  font-size: 32px;
  margin: 20px 0 12px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media screen and (min-width: 1024px) {
  .banner {
    min-height: 440px;
    height: auto;
    border-radius: 28px;
    margin-top: 56px;
    padding: 32px 64px 48px;

    &__natural {
      top: 22px;
      right: 32px;
    }

    &__title {
      padding-top: 36px;
      margin-bottom: 34px;

      h1 {
        font-size: 72px;
        max-width: 680px;

        span {
          margin-top: 12px;
          font-size: 24px;
          max-width: 520px;
          line-height: 1.2;
        }
      }
    }

    &__form {
      max-width: 700px;
      gap: 12px;
    }

    &__input {
      height: 62px;

      input {
        font-size: 22px;
      }
    }
  }

  .about {
    margin-top: 36px;
    padding: 36px 36px 36px 44px;
    border-radius: 34px;
    gap: 32px;

    .about__text {
      h2.about__title {
        font-size: 40px;
      }

      p.about__desc {
        margin-top: 16px;
        max-width: 760px;
        font-size: 20px;
      }
    }

    .about__photo {
      img {
        width: 240px;
        height: auto;
      }
    }
  }

  .stories {
    max-width: 520px;
    margin: 28px 0;
  }

  .title__top {
    margin-top: 88px;
    font-size: 52px;
  }

  .subtitle__top {
    font-size: 20px;
    margin-bottom: 22px;
  }

  .product {
    margin-bottom: 0;
    padding: 24px 20px;
    border: 1px solid rgba(146, 146, 146, 0.15);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(32, 32, 32, 0.04);
    min-height: 232px;
    align-items: flex-start;

    &__name {
      max-width: 100% !important;
      font-size: 28px;
    }

    &__desc {
      font-size: 16px;
      line-height: 1.4;
      max-width: 860px;
    }

    &__price {
      font-size: 20px;
    }

    &__buy {
      width: auto;
      min-width: 56px;
    }

    &__inCart {
      min-width: 56px;
      height: 108px;
    }
  }

  .faq {
    gap: 18px;

    &__item {
      border-radius: 20px;
      padding: 28px;
    }

    &__title {
      font-size: 24px;
    }

    &__answer {
      font-size: 18px;
      line-height: 1.4;
    }
  }

  .search__title {
    margin-top: 28px;
    font-size: 36px;
  }

  .catalog-page__subtitle {
    margin-top: 28px;
    margin-bottom: 18px;
    font-size: 40px;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px;
  }

  .catalog-page .ant-empty,
  .search-page .ant-empty {
    margin-top: 80px;
  }

  .productInfo {
    max-width: 980px;
    margin: 0 auto;

    .faq {
      margin-top: 18px;
    }
  }

  .loading {
    width: 100%;
  }
}

/* Redesign overrides */
.banner {
  min-height: 360px;
  height: auto;
  border-radius: 28px;
  margin-top: 28px;
  padding: 26px 20px 22px;
  box-shadow: 0 22px 50px rgba(16, 40, 29, 0.18);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, rgba(5, 34, 22, 0.52), rgba(5, 34, 22, 0.12));
    pointer-events: none;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 20px;
    padding-top: 72px;

    h1 {
      font-size: clamp(36px, 9vw, 64px);
      letter-spacing: -0.03em;
      line-height: 1.02;

      span {
        margin-top: 10px;
        font-size: clamp(15px, 2.8vw, 24px);
        line-height: 1.35;
        max-width: 680px;
      }
    }
  }

  &__natural {
    top: 14px;
    right: 16px;
  }

  &__form {
    gap: 10px;
    max-width: 760px;
  }

  &__input {
    height: 56px;
    position: relative;

    .banner__btn {
      width: 44px;
      height: 44px;
      position: absolute;
      right: 6px;
      top: 6px;
      border-radius: 14px;
      background: #00ab6d;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform .2s ease, box-shadow .2s ease;
      box-shadow: 0 10px 24px rgba(0, 171, 109, 0.35);

      img {
        width: 20px;
        height: 20px;
        filter: brightness(0) invert(1);
      }
    }

    .banner__btn:hover {
      transform: translateY(-1px);
      box-shadow: 0 14px 28px rgba(0, 171, 109, 0.4);
    }

    input {
      border: 1px solid rgba(255, 255, 255, 0.44);
      background: rgba(255, 255, 255, 0.95);
      backdrop-filter: blur(4px);
      border-radius: 18px;
      padding: 0 58px 0 16px;
      font-size: 17px;
      line-height: 1.25;
    }
  }
}

.about {
  border-radius: 26px;
  border: 1px solid #d9e8df;
  background: linear-gradient(145deg, #f5fbf8, #edf5f0);
  box-shadow: 0 14px 32px rgba(16, 40, 29, 0.08);
  padding: 20px;
  gap: 14px;

  .about__text {
    h2.about__title {
      font-size: clamp(26px, 6.3vw, 42px);
      letter-spacing: -0.02em;
    }

    p.about__desc {
      margin-top: 12px;
      color: #496154;
      font-size: clamp(14px, 3.4vw, 19px);
      line-height: 1.45;
      max-width: 760px;
    }
  }

  .about__photo img {
    width: min(42vw, 232px);
    height: auto;
  }
}

.stories {
  height: auto;
  min-height: 94px;
  padding: 12px 16px;
  border-radius: 22px;
  background: linear-gradient(135deg, #edf5f0, #f7fbf9);
  border: 1px solid #dbe9e0;
  box-shadow: 0 8px 22px rgba(16, 40, 29, 0.06);

  &__text {
    font-size: clamp(22px, 5.5vw, 34px);
  }
}

.title__top {
  margin-top: 52px;
  font-size: clamp(36px, 9vw, 58px);
  letter-spacing: -0.03em;
}

.subtitle__top {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #5d7668;
  font-size: clamp(15px, 3.8vw, 21px);
}

.product-list {
  gap: 14px;
}

.product {
  border: 1px solid #dce8df;
  background: linear-gradient(180deg, #ffffff, #f8fcfa);
  border-radius: 20px;
  box-shadow: 0 10px 24px rgba(16, 40, 29, 0.07);
  transition: transform .18s ease, box-shadow .18s ease;
}

.product:hover {
  transform: translateY(-2px);
  box-shadow: 0 16px 34px rgba(16, 40, 29, 0.12);
}

.faq {
  margin-top: 24px;

  &__item {
    border-radius: 20px;
    border: 1px solid #dce9e0;
    background: linear-gradient(165deg, #f7fcf9, #edf5f0);
    box-shadow: 0 8px 24px rgba(16, 40, 29, 0.06);
  }

  &__title {
    font-size: clamp(17px, 4.6vw, 26px);
  }

  &__answer {
    font-size: clamp(14px, 3.7vw, 18px);
    line-height: 1.5;
    color: #3f5b4d;
  }
}

.loading {
  min-height: 46vh;
  width: 100%;
}

.search__title {
  font-size: clamp(24px, 6vw, 42px);
  margin-top: 18px;
}

.catalog-page__subtitle {
  font-size: clamp(28px, 6.5vw, 44px);
  margin: 24px 0 14px;
}

.main__catalog-link {
  margin-top: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 18px;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.01em;
  background: linear-gradient(120deg, #00ab6d 0%, #117d69 100%);
  box-shadow: 0 14px 32px rgba(0, 171, 109, 0.28);
  transition: transform .18s ease, box-shadow .18s ease;
}

.main__catalog-link:hover {
  transform: translateY(-1px);
  box-shadow: 0 18px 36px rgba(0, 171, 109, 0.36);
}
